#div-orderHistory-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-individual-orderHistory {
  color: #a792ff;
  display: flex;
  border-bottom: 2px #5c36f5 solid;
  align-items: center;
  text-align: center;
}
.span-orderHistory-number {
  color: #5c36f5;
}
.h3-orderHistory-address {
  border-left: 1px #a792ff solid;
  border-right: 1px #a792ff solid;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.h3-account-order {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.h3-account-order:hover {
  cursor: pointer;
  filter: brightness(50%);
}
#div-avatar-search {
  display: flex;
  align-items: center;
}
#input-search-avatar {
  margin-left: 1rem;
}
#div-avatar-search {
  display: flex;
}
.div-product-image {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
