.div-cart-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.button-cart {
  padding: 0.5rem;
  background-color: #5c36f5;
  border-radius: 20px;
  font-family: Sansation;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  width: 6rem;
  min-width: fit-content;
  margin-left: 1rem;
}
.h3-cart-sub-title {
  color: #a792ff;
  margin-right: 1rem;
  white-space: nowrap;
  font-size: 1.5rem;
}
#div-cart-items {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* styling for individual cart items */
.div-single-cart-item {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.div-image-cart-item {
  margin-right: 1rem;
  margin-top: auto;
}
.div-text-cart-item {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  color: #a792ff;
  font-family: Sansation;
  align-items: center;
}
.div-buttons-cart-item {
  display: flex;
  margin-top: 0.5rem;
}
.input-cart-item {
  margin: auto;
}
.input-cart-item:hover {
  opacity: 50%;
}
.input-cart-item:active {
  opacity: 80%;
}
.button-remove-cart-item {
  margin-right: 1rem;
}
.hr-cart-total {
  width: 300px;
  border-width: 1px;
  border-color: #a792ff;
  margin: auto;
  margin-bottom: 2rem;
}
#div-cart-subheader-bottom {
  margin-bottom: 20rem;
}
#input-promo-code {
  margin-left: 1.5rem;
  border: 1px solid black;
}
#div-promo-code {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  color: #a792ff;
}
#span-cart-display {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: red;
}
