#div-header {
  position: sticky;
  background-color: white;
  top: 0;
  width: 100%;
}
#div-header-nav {
  display: flex;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#ul-header1-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  align-items: center;
}
#ul-header2-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 0;
}
#ul-header3-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
#li-hamburger-nav {
  margin-right: 0.75rem;
}
#input-login-nav {
  background-color: transparent;
  border: none;
  color: #5c36f5;
  font-size: 1.25rem;
  font-family: CherryBomb;
  max-width: 125px;
  cursor: pointer;
}
#input-login-nav:hover {
  filter: opacity(50%);
}
#input-login-nav:active {
  filter: opacity(0%);
}

#div-banner {
  background-color: #a792ff;
  text-align: center;
  box-shadow: 5px 1px 5px 2px black;
}
#img-toyWorkxs-banner {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#div-hamburger {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: white;
  padding-top: 2rem;
  opacity: 100%;
}
.input-hamburger {
  color: #a792ff;
  background-color: transparent;
  border: none;
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
}
#hr-hamburger {
  width: 90%;
  background-color: #a792ff;
  margin-bottom: 1rem;
  height: 2px;
  border: none;
}
#ul-hamburger {
  padding-left: 20px;
}
#li-login-signout {
  display: flex;
  flex-direction: column;
}
#li-login-signout > button {
  border: none;
  text-decoration: underline;
  color: #5c36f5;
  padding-left: 0px;
}
#button-sign-out {
  border: none;
  background-color: transparent;
  text-decoration: none;
  overflow-x: hidden;
}
#ul-header-mediaQuery-nav {
  display: none;
}
#span-media-query {
  display: none;
}

@media only screen and (min-width: 1400px) {
  #div-pokemon {
    width: 200px;
    height: 200px;
  }
  #li-hamburger-nav {
    display: none;
  }
  #ul-header1-nav {
    justify-content: flex-start;
  }
  #li-login-signout {
    display: flex;
    font-size: 2rem;
    flex-direction: row;
    align-items: center;
    overflow-x: visible;
  }
  #li-login-signout > button {
    display: none;
  }
  #button-sign-out {
    overflow-x: visible;
  }
  #ul-header2-nav {
    display: none;
  }
  #ul-header-mediaQuery-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  .input-hamburger {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #input-login-nav {
    font-size: 2rem;
  }
  #span-media-query {
    color: #a792ff;
    display: flex;
  }
  #link-media-query {
    display: flex;
  }
}
