.h2-header {
  text-align: center;
  font-family: CherryBomb;
  color: #5c36f5;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.div-boardGame-ad {
  display: flex;
  justify-content: center;
}
.img-ad {
  width: 350px;
  border: #a792ff 1px solid;
}
.button-add {
  height: fit-content;
  background-color: #a792ff;
  color: white;
  font-size: 1.5rem;
  border-radius: 20px;
  font-family: CherryBomb;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px 5px white;
  padding-left: 0.25rem;
  padding-left: 0.5rem;
}
.div-boardGame-ad-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-color: #a792ff;
  width: 300px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #a792ff;
  border-radius: 10%;
  box-shadow: 1px 1px 5px 5px #5c36f5;
  padding-top: 12rem;
  padding-bottom: 2rem;
}
#div-input-arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: auto;
}
.input-arrows {
  background-color: transparent;
  height: 50px;
}
.h3-sale-header {
  font-family: CherryBomb;
  color: #a792ff;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}
#li-login-signout {
  max-width: 50px;
}

#div-plushie-ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 6rem; */
}


#div-plushie-ad-pictures {
  /* background-image: url(https://toy-workxs.s3.us-west-1.amazonaws.com/plushies/dinosaur/angry-trex.jpg); */
  width: 100%;
  height: 500px;
  max-width: 500px;
  max-height: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-color: #a792ff;
  /* width: 200px; */
  /* height: 300px; */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
#h2-lego-products{
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1400px) {
  /* #div-plushie-ad-pictures {
    width: 100%;
    max-width: none;
    height: 100vw;
  } */

}