.div-product-image{
  background-color: #A792FF;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover; 
}

/* styling for products */
.div-all-products {
  display: flex;
  justify-content: center;
}
.div-genre-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h3-genre-headers {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #5c36f5;
  font-family: CherryBomb;
  letter-spacing: 2px;

}
.div-multiple-products {
  display: flex;
  overflow-x: scroll;
  color: #A792FF;
  font-family: CherryBomb;
  font-weight: 300;
  font-size: 1rem;
  /* flex: 1; */
  width: 270px;
  margin-right: 1rem;
}
.div-multiple-products::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 16px;
}
.div-multiple-products::-webkit-scrollbar-track {
  background-color: #A792FF;
  border-radius: 100px;
}
.div-multiple-products::-webkit-scrollbar-thumb {
  background-color: #5c36f5;
  border-radius: 100px;
}
.div-individual-product {
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
}
.div-product-image {
  border: 3px solid #A792FF;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 5px #5c36f5;
  margin-bottom: .5rem;
}
.h4-product-title {
  margin-bottom: .25rem;
  /* margin-top: .25rem; */
  /* white-space: nowrap; */
  /* overflow-x: hidden; */
}
.button-product-add {
  height: fit-content;
  background-color: #A792FF;
  color: white;
  font-size: 1.5rem;
  border-radius: 20px;
  font-family: CherryBomb;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  padding-left: .25rem;
  padding-left: .50rem;
}
.button-product-add:hover {
  font-size: 2rem;
}
.div-scroll-arrows {
  display: flex;
  /* width: 40%; */
  /* flex: 1; */
  /* align-items: center; */
  justify-content: center;
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
}
.button-scroll {
  /* flex: 1; */
}
#h2-loading-products {
  color: #A792FF;
}

.h4-product-title-space {
  height: 25px;
  margin-top: .25rem;
}
.h4-product-price {
  margin-top: .25rem;
}