.div-product-image {
  background-color: #a792ff;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* styling for products */
.div-all-products {
  display: flex;
  justify-content: center;
}
.div-genre-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h3-genre-headers {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #5c36f5;
  font-family: CherryBomb;
  letter-spacing: 2px;
}
.div-multiple-products {
  display: flex;
  overflow-x: scroll;
  color: #a792ff;
  font-family: CherryBomb;
  font-weight: 300;
  font-size: 1rem;
  width: 270px;
  margin-right: 1rem;
}
.div-multiple-products::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 16px;
}
.div-multiple-products::-webkit-scrollbar-track {
  background-color: #a792ff;
  border-radius: 100px;
}
.div-multiple-products::-webkit-scrollbar-thumb {
  background-color: #5c36f5;
  border-radius: 100px;
}
.div-individual-product {
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
}
.div-product-image {
  border: 3px solid #a792ff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 5px #5c36f5;
  margin-bottom: 0.5rem;
}
.h4-product-title {
  margin-bottom: 0.25rem;
}
.button-product-add {
  height: fit-content;
  background-color: #a792ff;
  color: white;
  font-size: 1.5rem;
  border-radius: 20px;
  font-family: CherryBomb;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  padding-left: 0.25rem;
  padding-left: 0.5rem;
}
.button-product-add:hover {
  font-size: 2rem;
}
.div-scroll-arrows {
  display: flex;
  justify-content: center;
}
#h2-loading-products {
  color: #a792ff;
}
.h4-product-title-space {
  height: 25px;
  margin-top: 0.25rem;
}
.h4-product-price {
  margin-top: 0.25rem;
}
#h2-product-error {
  text-align: center;
  margin-bottom: 1rem;
  color: red;
}

@media only screen and (min-width: 700px) {
  .div-multiple-products {
    width: 535px;
  }
}
